logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*~

## Unnecessary Activator/Play Files and Libraries

/Vagrantfile
/activator
/activator-launch-1.2.2.jar
/activator.bat
/default-create.sql
/default-drop.sql
/public/vendors/*

## USerdata

/public/userdata/*

