body {
    padding-top: 20px;
    background-color: #FFF;
}

footer {
    color: #999;
}

.btn {
    margin: 5px;
    margin-left: 0px;
}

.jumbotron {
   background-color: #F8F8F8; 
   border: 1px solid #DDD;
}

.input #title {
    font-size: 30px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#newenty_input_content {
    width: 100%;
}

.input-group {
    width: 100%;
    margin-bottom: 30px;
}

textarea {
    font-size: 15px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.val-error-lab {
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    background-color: #FF2222;
    color: #FFF;
}