body {
    padding-top: 20px;
    background-color: #fff;
}

footer {
    color: #999;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
}

.btn {
    margin: 5px;
    margin-left: 0px;
}

.loginformbox {
    padding: 30px;
    background-color: #f8f8f8;
}

.nodisplay {
    display: none;
}

.label-white {
    background-color: #FFF;
    color: #222;
}

.content-body {  
   border-left: 2px solid #DDD;
   padding: 20px;
   font-size: 18px;
   margin-bottom: 20px;
   text-align: justify;
   box-shadow: -2px 0px 2px -1px #555;
}

.blog-content {
    font-family: "serif";
    background-color: #F8F8F8;
    padding: 50px;
    border: 1px solid #DDD;
    margin-bottom: 20px;
    overflow: hidden;
}

.blog-footer {
    color: #AAA;
    font-size: 12px;
    text-align: right;
}

.label-bloghead {
    background-color: #7ac3ce;
    font-family: "sans-serif";
}

.input #title {
    font-size: 30px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#newenty_input_content {
    width: 100%;
}

.input-group {
    width: 100%;
    margin-bottom: 30px;
}

textarea {
    font-size: 15px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#post_content {
    padding: 10px;
}
