/* Breakpoint value taken from Bootstrap's website */
@media (max-width: 768px) {
    .content-body {  
       border-left: none;
       padding: 0px;
       box-shadow: none;
    }    

    .blog-content {
        padding: 20px;
    }
}