/* Breakpoint value taken from Bootstrap's website */

@media (max-width: 1200px) {
       
    #footer-alert {
        width: 100%;
        float: none;
        clear:both;
    }

}

@media (max-width: 768px) {
    .content-body {  
       border-left: none;
       padding: 0px;
       box-shadow: none;
    }    

    .blog-content {
        padding: 20px;
    }
    
    .blog-title {
        width: 45%;
    }
    
    .blog-title > h1 {
        font-size: 15px;
    }
    
    .pic-profile-small {
        max-height: 200px;
        width: 45%;
        border-left: none;
    }
    
    .pic-profile-innav {
        height: inherit;
        width: auto;
    }
    
    #blog-navbar-collapse-btn {
        padding-top: 2px;
        padding-bottom: 2px;
    }
    
    .comment-container {
        width:100%;
        float: none;
    }
         
}

@media (max-width: 450px) {
    #blog-navbar-collapse-btn {
        display: none;
    }
    
    #blog-navbar-collapse-btn-block {
        display:block;
        float:none;
    }
    
    .btn.btn-long {
        width: 100%;
    }
}

