/* Breakpoint value taken from Bootstrap's website */
@media (max-width: 768px) {
    .content-body {  
       border-left: none;
       padding: 0px;
       box-shadow: none;
    }    

    .blog-content {
        padding: 20px;
    }
    
    .blog-title {
        width: 100%;
    }
    
    .pic-profile-small {
        max-height: none;
        width: 100%;
        border-left: none;
    }
}
