@(posts: List[Post], user: User)

@templ(title = "The Dary Blog", user){ 
    
    <div class="blog-title label-primary">
        <h1> @posts(0).user.blogname </h1>
    </div>

    @for(p <- posts) {

        @if((p.isPublished) || (p.user.blogname == user.blogname)) {
        <!-- This is either a published post or you are watching your on blog -->

            <div class="blog-content">
                <h2> @p.title </h2>
                <h5 class="blog-post-header">                    
                    @if(p.isPublished) {
                        <span class="fa fa-globe"></span>
                    } else {
                        <span class="fa fa-lock"></span>
                    }
                <span class="label label-bloghead"> published on <b> @p.creDate </b> </span>
                @if(p.user.blogname == user.blogname) {
                        <a href="/edit/@p.id">
                            <span class="label label-bloghead label-danger">Edit                       
                                <span class="fa fa-pencil"></span>
                            </span>
                        </a>
                    }
                </h5>

                <hr />
                <br />             
                @Html(p.content) 
                <hr /> 
                <p class="blog-post-footer"> written by @posts(0).user.blogname </p>
            </div>

        } <!-- Endif isPublished or own blog -->
        
    } <!-- End For Loop -->
}{
    <script src="/assets/javascripts/blog_control.js"></script>  
}