@(newEntryForm: Form[Entry])

<!-- Form Helper -->
@import helper._

<!-- You could use the bootstrap Fiels-Constructor if you wanted
     but we're gonna use our own -->
@* @import helper.twitterBootstrap._ *@

<!-- Use self-made field constructor -->
@implicitField = @{ FieldConstructor(custom_field_constructor.f) }

@templ(title = "Create New Entry"){

    @helper.form(action = routes.NewEntry.submit, 'id -> "newentry_form") {    
       
        <fieldset>
            <legend>New Blog Post</legend>
                        
            @inputText(
                newEntryForm("post_title"),
                '_id -> "newenty_input_title",
                '_label -> "Title", '_label_class -> "input-group-addon",
                'class -> "form-control",
                '_help -> "Your Posts title",
                '_error -> newEntryForm("profile.title").error.map(_.withMessage("Please select your country"))
            )
            
            
            @textarea(
                newEntryForm("post_content"), 
                '_id -> "newenty_input_content",
                '_label -> "",
                'rows -> 10,
                '_help -> "Enter your Post here!",
                '_error -> newEntryForm.globalError
            )

            <!-- Hidden Field for isPublished parameter 
                 changed (if necessary) in submitcontrol.js 
                 when modal dialog is closed positively -->
            <input type="hidden" id="newenty_hidden_publish" name="isPublished" value='false' >
                        
        </fieldset>

        <!-- Buttons/Submit are handled in submitcontrol.js -->
        <!-- Publish Button -->
        <button id="newentry_pub_inst_btn" type="button" data-toggle="modal" class="btn btn-danger actions">
            <span class="glyphicon glyphicon-bullhorn"> </span>
            Publish Entry NOW             
        </button>

        <!-- Save Only Button -->
        <button id="newentry_save_btn" type="submit" class="btn btn-primary actions">
            <span class="glyphicon glyphicon-floppy-disk"> </span>
            Save Post And Go Back            
        </button>

        <div id="newentry_pub_inst_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Are You Completely Sure You Want To <b>Publish</b> This <b>Post Right Now ?</b></h4>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No. Go Back!</button>
                    <button id="newentry_pub_inst_send" type="button" class="btn btn-primary">Yes, Absolutely</button>
                </div>
            </div>
          </div>
        </div>

    }

}