@(newPostForm: Form[Post], user: User, isEditing: Boolean)

<!-- Form Helper -->
@import helper._

<!-- Use self-made field constructor -->
@implicitField = @{ FieldConstructor(custom_field_constructor.f) }


@templ(title = if(isEditing) { "Edit Post" } else { "Write A New Story" }, user){

    @if(newPostForm.hasErrors) {
        <div class="alert alert-danger fade in">
            <span class="glyphicon glyphicon-flash"></span> 
            Your form contains errors!
        </div>
    }

    @helper.form(action = if(isEditing) { routes.EditPost.submit } else { routes.NewPost.submit }, 'id -> "newpost_form") {    
       
        <fieldset>
            <legend>
                <i class="fa fa-edit"> </i>
                @if(isEditing) {
                    Edit Post
                } else {
                    New Blog Post
                }
            </legend>
                        
            @inputText(
                newPostForm("title"),
                '_label -> "Title", 
                '_label_class -> "input-group-addon",
                '_label_fa_icon -> "fa-header fa-5",
                'class -> "form-control",
                '_help -> "Your Posts title"
            )

            @if(isEditing) {
                <div class="alert alert-info fade in">
                    You are <b> editing </b> an existing Post. 
                    The old version will be archived but not shown in the blog anymore.
                </div>
            }
            
            <!-- The 'Symbol' class is needed because of the hyphen in the "data-provide" attribute -->
            <!-- Symbol("data-provide") -> "markdown", -->
            @textarea(
                newPostForm("content"),
                '_label -> "",
                'rows -> 10,
                '_help -> "Enter your Post here!",
                'class -> "form-control textarea",
                Symbol("data-provide") -> "markdown",
                Symbol("data-iconlibrary") -> "fa"
            )

            <!-- Hidden Field for isPublished parameter 
                 changed (if necessary) in submitcontrol.js 
                 when modal dialog is closed positively -->
            <input type="hidden" id="newpost_hidden_publish" name="isPublished" value="false">

            <!-- Hidden Field with id
                 necessary for editing -->
            <input type="hidden" id="newpost_hidden_id" name="id" value="@newPostForm("id").value">
                        
        </fieldset>

        <!-- Buttons/Submit are handled in submitcontrol.js -->
        <!-- Publish Button -->
        <button id="newpost_pub_inst_btn" type="button" data-toggle="modal" class="btn btn-danger actions" disabled>
            <span class="glyphicon glyphicon-bullhorn"> </span>
            Publish this Post NOW             
        </button>

        <!-- Save Only Button -->
        <button id="newpost_save_btn" type="button" class="btn btn-primary actions" disabled>
            <span class="glyphicon glyphicon-floppy-disk"> </span>
            Save Post And Go Back            
        </button>

        <!-- Modal to warn user about instant publishing -->
        <div id="newpost_pub_inst_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Are You Completely Sure You Want To <b>Publish</b> This <b>Post Right Now ?</b></h4>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No. Go Back!</button>
                    <button id="newpost_pub_inst_send" type="button" class="btn btn-primary">Yes, Absolutely</button>
                </div>
            </div>
          </div>
        </div>
    } <!-- End of NewPost Form -->

    <!-- Modal Form to upload Picture -->
    <div id="newpost_upload_picture_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Upload a <b>Picture</b> </h4>
            </div>
            <div class="modal-body">

                <div class="progress">
                    <div id="newpost_picture_upload_prog" 
                         class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                <div id="newpost_picture_upload_msg" class="alert fade in">
                </div>

                <!--  -->
                @form(action = routes.NewPost.uploadPicture, 'id -> "newpost_upload_picture_form", 'enctype -> "multipart/form-data") {    
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-primary btn-file">
                                Browse ... <input name="picture_raw" id="newpost_picture_file" type="file" multiple="">
                            </span>                            
                        </span>
                        <label id="newpost_picture_browse_label" class="form-control" />
                    </div>                    
                }                
            </div>
            <div class="modal-footer">
                <button id="newpost_picture_send" type="button" class="btn btn-primary">Upload!</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
      </div>
    </div>

} {
     <!-- Markdown wysiwyg -->
    <script src="/assets/vendors/markdown/addons/markdown.min.js"></script>
    <script src="/assets/vendors/markdown/addons/to-markdown.js"></script> 
    <script src="/assets/javascripts/newpost_markdowncontrol.js"></script>   
    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.2.1/js/bootstrap-markdown.min.js"></script>
    <script src="/assets/javascripts/newpost_submitcontrol.js"></script>
}