
@(loginForm: Form[forms.Login], signupForm: Form[User], user: User)

<!-- Form Helper -->
@import helper._
@import play.i18n._

<!-- Use self-made field constructor -->
@implicitField = @{ FieldConstructor(custom_field_constructor.f) }

@templ(title = Messages.get("BECOME_AN_AUTHOR"), user){    

    <div class="row">
        <div class="col-md-6 loginformbox loaded" id="loginformbox"> 
            <!-- Login Form --> 
            @if(loginForm.hasErrors){
            <div id="formalert-login" class="alert alert-danger fade in" >
                <span class="glyphicon glyphicon-flash"></span> 
                @Messages.get("FORM_CONTAINS_ERRORS")
            </div>
            }    
            

            @if(loginForm.hasGlobalErrors) {
            <div class="alert alert-danger fade in">
                <span class="glyphicon glyphicon-flash"></span> 
                @loginForm.globalError.message
            </div>
            }

            @helper.form(action = routes.UserController.submitLogin, 'id -> "login_form") {  

            <fieldset>
                <legend>Login</legend>
                          
                @inputText(
                    loginForm("name"),
                    '_label -> Messages.get("BLOGTITLE_OR_EMAIL"), 
                    '_label_class -> "label label-white",
                    'class -> "form-control",
                    '_help -> Messages.get("YOUR_BLOGS_TITLE")
                )
                
                @inputPassword(
                    loginForm("password"),
                    '_label -> Messages.get("PASSWORD"),
                    '_label_class -> "label label-white",
                    '_help -> Messages.get("YOUR_PASSWORD"),
                    'class -> "form-control"
                )
                            
            </fieldset>

            <button id="login_btn" type="submit" data-toggle="modal" class="btn btn-danger actions">
                <i class="fa fa-arrow-circle-right"></i>
                @Messages.get("LOGIN")
            </button>

            }

        </div>

        <div class="col-md-6 loginformbox loaded">
            <!-- Logo .. or something -->
            <img id="biglogo" src="/assets/images/logo_big.png" />
        </div>
    </div>

    <div class="row">
        
        <div class="col-md-6 loginformbox loaded min-txt">
            <h2>
                @Messages.get("DARY_WELCOMETEXT_1")
                <br />
                <b> @Messages.get("DARY_WELCOMETEXT_2")</b>
            </h2>        
        </div>

    <!-- Sign Up Form -->

        <div class="col-md-6 loginformbox loaded" id="signupformbox">

            @if(signupForm.hasErrors){
            <div id="formalert-signup" class="alert alert-danger fade in" >
                <span class="glyphicon glyphicon-flash"></span> 
                @Messages.get("FORM_CONTAINS_ERRORS")
            </div>
            }
            
            @helper.form(action = routes.UserController.submitRegister, 'id -> "signup_form") {

            <fieldset>

                <legend>@Messages.get("BECOME_AN_AUTHOR_IN_SECONDS")</legend>
                            
                @inputText(
                    signupForm("blogname"),
                    '_label -> Messages.get("BLOG_TITLE"), 
                    '_label_class -> "label label-white",
                    'class -> "form-control",
                    '_help -> Messages.get("YOUR_BLOGS_TITLE"),
                    'id -> "reg_blogname"
                )

                @inputText(
                    signupForm("email"),
                    '_label -> Messages.get("EMAIL_ADDRESS"), 
                    '_label_class -> "label label-white",
                    'class -> "form-control",
                    '_help -> Messages.get("YOUR_EMAIL_ADDRESS")
                )
                
                @inputPassword(
                    signupForm("password"),
                    '_label -> Messages.get("PASSWORD_MIN_CHAR"),
                    '_label_class -> "label label-white",
                    '_help -> Messages.get("YOUR_PASSWORD"),
                    'class -> "form-control",
                    'id -> "reg_pwd"
                )
                                           
            </fieldset>

            <button id="register_btn" type="button" data-toggle="modal" class="btn btn-danger actions">
                <i class="fa fa-share"></i>
                 @Messages.get("START_BLOG")
            </button>

            }

        </div>
    </div>

    <p class="min-txt">
        *@Messages.get("LEGAL_INFO_PENCIL_1")
        
        <a href="http://en.wikipedia.org/wiki/en:Creative_Commons"> Creative Commons </a> 
        <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.en"> Attribution-Share Alike 3.0 Unported </a>
        @Messages.get("LEGAL_INFO_PENCIL_2") 
        <a href="http://commons.wikimedia.org/wiki/User:Takkk"> Takkk </a>.
    </p>

    <!-- Terms of conditions in Modal -->

    <div id="register_terms_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-bg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">
                    @Messages.get("LEGAL_CONDITIONS_HEADER")
                </h4>
            </div>
            <div class="modal-body">
                @Messages.get("LEGAL_CONDITIONS_1")<br />
                @Messages.get("LEGAL_CONDITIONS_2")<br /><br />
                @Messages.get("LEGAL_CONDITIONS_3")                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    @Messages.get("CANCEL")
                </button>
                <button id="register_terms_accept_send" type="button" class="btn btn-primary">
                    @Messages.get("LEGAL_CONDITIONS_ACCEPT")
                </button>
            </div>
        </div>
      </div>
    </div>

}{
    <script src="/assets/javascripts/register_login_submitcontrol.js"></script>
}
