@(title: String)(content: Html)(addjs: Html)

<!DOCTYPE html>

<html>
<head>
    <!-- CDN Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/stylesheets/main.css">
    <link rel="stylesheet" href="/assets/stylesheets/mediaqueries.css">

    <!-- FontAwsomwe -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   
    <!-- View Port Meta Tag for Mobile First Rendering -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> The Dary Blog | @title </title>

</head>
<body >
 
    <div class="container">

    <!-- Top avigation menu -->
    <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Dary Blog</a>
        </div> 
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"> <a href="/about">About</a> </li>
                <li><a href="/">Sign Up</a></li>
                <li><a href="/">Login</a></li>
            </ul>
        </div>
    </div>
    </nav>

    <div class="content-body">
      <p>@content</p>  
    </div>
    

    <!-- jQuery (necessary for Bootstrap's and Markdown's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>    

    <!-- CDN Bootstrap -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>    

    <!-- Additional JavaScripts from other pages --> 
    @addjs     

    <script src="/assets/javascripts/stylecontrol.js"></script>    

</body>
<footer>
    <span class="glyphicon glyphicon-copyright-mark"></span>
    2014, David Rieger </footer>
</html>